<html>
  <head>
    <title>Stockpredictr-Contests</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/republic/style.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17958355-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type =
        'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>  
  </head>

  <body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Stockpredictr</a></h1>
        <p>Satisfy your predilection for prediction.</p>
      </div> <!-- end #logo -->
    </div> <!-- end #header -->
    <div id="menu">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
        {% if cur_user %}
          <li><a href="/user/{{cur_user.key.id}}">Preferences</a></li>
        {% endif %}
	<li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
      </ul>
    </div> <!-- end #menu -->
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">
            <div class="post">
              <h2 class="title">Contests</h2>
              <div class="entry">

                {% if later_contests_flag %}
                  <p><a href="contests?i={{later_index}}">Later Contests...</a></p>
                {% endif %}

                <ul>
                  {% for contest in contests %}
                    <li> <a href="contest/{{contest.key.id}}">
                        {{ contest.stock.symbol }} - 
                        {{ contest.close_date }}</a> -
                      {% if contest.private %}
                        [private]
                      {% else %}
                        <a href="user/{{contest.owner.key.id}}">
                          {{ contest.owner.nickname }}</a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>

                {% if earlier_contests_flag %}
                  <p><a href="contests?i={{earlier_index}}">Earlier Contests...</a></p>
                {% endif %}

              </div> <!-- end #entry -->
            </div> <!-- end #post -->

          </div> <!-- end #content -->
	  <div id="sidebar">
	    <ul>
	      <li>&nbsp;</li>
              <li> {{ g_welcome_warning }} </li>
	    </ul>
	  </div>
	  <!-- end #sidebar -->
	  <div style="clear: both;">&nbsp;</div>

        </div> <!-- end #page-bgbtm -->
      </div> <!-- end #page-bgtop -->
    </div> <!-- end #page -->
  </div> <!-- end #wrapper -->

  <div id="footer">
    {{ g_footer }}
  </div> <!-- end #footer -->

  </body>
</html>
