<html>
  <head>
    <title>Stockpredictr User #{{the_user.key.id}}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/republic/style.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17958355-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type =
        'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>  
  </head>

  <body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Stockpredictr</a></h1>
        <p>Satisfy your predilection for prediction.</p>
      </div> <!-- end #logo -->
    </div> <!-- end #header -->
    <div id="menu">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
        {% if cur_user %}
          <li><a href="/user/{{cur_user.key.id}}">Preferences</a></li>
        {% endif %}
	<li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
      </ul>
    </div> <!-- end #menu -->
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">

            {% if authorized_to_edit %}
              <div class="post">
                <h2 class="title">Your Google Info</h2>
                <div class="entry">
                  <p>This is the info from Google on you.  This
                  information is not shown to others.</p>
                  <table>
                    <tr>
                      <th>Nickname</th>
                      <td>{{the_user.user.nickname}}</td>
                      <td>(your default Stockpredictr nickname)</td>
                    </tr>
                    <tr>
                      <th>Email</th>
                      <td>{{the_user.user.email}}</td>
                    </tr>
                  </table>
                </div> <!-- end #entry -->
              </div> <!-- end #post -->
              <div class="post">
                <h2 class="title">Update Your User Data</h2>
                <p>You may update your own user info here.</p>
                <div id="search" class="entry">
                  <form action="/user/{{the_user.key.id}}" method="post">
                    Stockpredictr Nickname: <input type="text" name="nickname" value="{{ the_user.nickname }}">
                  </form>
                </div> <!-- end #entry -->
              </div> <!-- end #post -->
	      <div style="clear: both;">&nbsp;</div>

            {% endif %}

            <div class="post">
              <h2 class="title">Past Predictions</h2>
              <div class="entry">
                <ul>
                  <li>{{ the_user.wins }} wins,
                    {{ the_user.losses }} losses, 
                    {{ the_user.win_pct }}%</li>
                  {% if authorized_to_view %}
                    {% for prediction in closed_predictions %}
                      <li> 
                      {% if prediction.winner %}
                        <b> WIN - 
                      {% else %}
                        LOSS -
                      {% endif %}
                      <a href="/contest/{{prediction.contest.key.id}}">
                        {{ prediction.value }} -
                        {{ prediction.contest.stock.symbol }} -
                        {{ prediction.contest.close_date }}
                      </a>
                      {% if prediction.winner %}
                        </b>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </ul>
              </div> <!-- end #entry -->
            </div> <!-- end #post -->

            {% if authorized_to_view %}
              <div class="post">
                <h2 class="title">Open Predictions</h2>
                <div class="entry">
                  <ul>
                    {% for prediction in open_predictions %}
                      <li> 
                      <a href="/contest/{{prediction.contest.key.id}}">
                        {{ prediction.value }} -
                        {{ prediction.contest.stock.symbol }} -
                        {{ prediction.contest.close_date }}
                      </a>
                    {% endfor %}
                  </ul>
                </div> <!-- end #entry -->
              </div> <!-- end #post -->
            {% endif %}

          </div> <!-- end #content -->

	  <div id="sidebar">
	    <ul>
	      <li>&nbsp;</li>
              <li> {{ g_welcome_warning }} </li>
	    </ul>
	  </div>
	  <!-- end #sidebar -->
	  <div style="clear: both;">&nbsp;</div>

        </div> <!-- end #page-bgbtm -->
      </div> <!-- end #page-bgtop -->
    </div> <!-- end #page -->
  </div> <!-- end #wrapper -->

  <div id="footer">
    {{ g_footer }}
  </div> <!-- end #footer -->

  </body>
</html>
