<html>
  <head>
    <title>Stockpredictr Contest #{{contest.key.id}}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/republic/style.css" />
  </head>

  <body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Stockpredictr</a></h1>
        <p>Satisfy your predilection for prediction.</p>
      </div> <!-- end #logo -->
    </div> <!-- end #header -->
    <div id="menu">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
        {% if cur_user %}
          <li><a href="/user/{{cur_user.key.id}}">Preferences</a></li>
        {% endif %}
	<li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
      </ul>
    </div> <!-- end #menu -->
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">
            {% if authorized %}
              <div class="post">
                <div class="entry">
                  <p><b><i>Contest <a href="/contest/{{contest.key.id}}">
                      {{ contest.stock.symbol }} -
                      {{ contest.close_date }}</a> owned by 
                    <a href="/user/{{contest.owner.key.id}}">
                      {{ contest.owner.nickname }}</a>.
                  </i></b></p>
                  <p>Enter the dollar amount below that you think the 
                    {{ contest.stock.symbol }} stock price will be at the
                    market close on {{ contest.close_date }}.  The
                    contest will remain open and you can change your
                    guess until the market opens on 
                    {{ contest.close_date }}.</p>
                </div>
              </div>
              <div class="post">
                <h2 class="title">Contest Entries</h2>
                <div class="entry">
                  <ul>
                    {% for prediction in predictions %}
                      <li> 
                      {% if prediction.winner %}
                        <b> WINNER! - 
                      {% endif %}
                      {% if prediction.is_price %}
                        <b><i> {{ prediction.value }} - 
                            {{ prediction.user_nickname }} </i></b>
                      {% else %}
                        {{ prediction.value }} - 
                        <a href="/user/{{ prediction.user_id }}">
                          {{ prediction.user_nickname }}
                        </a>
                      {% endif %}
                      {% if prediction.winner %}
                        </b>
                      {% endif %}
                      {% if prediction.leader %}
                        (Current Leader)
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div> <!-- end #entry -->
              </div> <!-- end #post -->

              {% if open_flag %}
                <div class="post">
                  <h2 class="title">Enter Your Prediction</h2>
                  <div class="entry">
                    {% if logged_in_flag %} 
                      {% if can_update_flag %}
                      <p>Enter your prediction here.  You may update it until the
                        contest is closed</p>
                      {% if prediction_error_flag %}
                      <div class="post">
                        <div class="error"><b>ERROR: {{error_message}}</b></div>
                      </div>         
                      {% endif %}
                      <form action="/contest/{{contest.key.id}}" method="post">
                        Prediction: 
                        <input type="text" name="prediction" 
                               value={{ form_prediction }} >
                      </form>
                      {% else %}
                      <p>No more prediction updates are allowed.  The contest
                      ends today and the market is open at 9:30AM Eastern
                      time. Come back at 4PM Eastern time to see who won!</p>
                      {% endif %}
                    {% else %}
                      <b><i><a href="{{ login_url }}">Login</a> to enter.</i><b>
                    {% endif %}
                  </div> <!-- end #entry -->
                </div> <!-- end #post -->

              {% endif %}

              {% if owner_flag %}
                <div class="post">
                  <h2 class="title">Finish The Contest</h2>
                  <div class="entry">
                    <p>You are the owner of the contest.  The system
                      will automatically finalize a contest for you, but
                      should something go awry, enter a value yourself.
                      A negative value keeps the contest open.</p>
                    {% if final_value_error_flag %}
                    <div class="post">
                      <div class="error"><b>ERROR: {{error_message}}</b></div>
                    </div>         
                    {% endif %}
                    <form action="/contest/{{contest.key.id}}" method="post">
                      Final Value: 
                      <input type="text" name="final_value" value="{{contest.final_value}}">
                    </form>
                  </div> <!-- end #entry -->
                </div> <!-- end #post -->
              {% endif %}
            {% else %} <!-- not authorized -->
              <div class="post">
                <h2 class="title">Unauthorized</h2>
                  <div class="entry">
                    <p>You are unauthorized to view this
                      contest.
                    {% if cur_user %}
                      Enter the passphrase to view.</p>
                      {% if passphrase_error_flag %}
                      <div class="post">
                        <div class="error"><b>ERROR: {{error_message}}</b></div>
                      </div>         
                      {% endif %}
                      <form action="/contest/{{contest.key.id}}" method="post">
                        Passphrase: 
                        <input type="text" name="passphrase"
                               value={{ form_passphrase }} >
                      </form>
                    {% else %}
                      <i>Login to view.</i></p>
                    {% endif %}
                  </div> <!-- end #entry -->
              </div> <!-- end #post -->
            {% endif %}
          </div> <!-- end #content -->

	  <div id="sidebar">
	    <ul>
	      <li>&nbsp;</li>
              <li> {{ g_welcome_warning }} </li>
	    </ul>
	  </div>
	  <!-- end #sidebar -->
	  <div style="clear: both;">&nbsp;</div>

        </div> <!-- end #page-bgbtm -->
      </div> <!-- end #page-bgtop -->
    </div> <!-- end #page -->
  </div> <!-- end #wrapper -->

  <div id="footer">
    {{ g_footer }}
  </div> <!-- end #footer -->

  </body>
</html>
