<html>
  <head>
    <title>Stockpredictr Contest #{{contest.key.id}}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/republic/style.css" />
  </head>

  <body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Stockpredictr</a></h1>
        <br>
        <p>Contest:<a href="/contest/{{contest.key.id}}">
          {{ contest.stock.symbol }} -
          {{ contest.close_date }}</a> by 
          <a href="/user/{{contest.owner.key.id}}">{{ contest.owner.nickname }}</a></p>
      </div> <!-- end #logo -->
    </div> <!-- end #header -->
    <div id="menu">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
        {% if cur_user %}
          <li><a href="/user/{{cur_user.key.id}}">Preferences</a></li>
        {% endif %}
	<li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
      </ul>
    </div> <!-- end #menu -->
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">
            {% if authorized %}
              <div class="post">
                <h2 class="title">Contest Entries</h2>
                <div class="entry">
                  <ul>
                    {% for prediction in predictions %}
                      <li> 
                      {% if prediction.winner %}
                        <b> WINNER! - 
                      {% endif %}
                      {% if prediction.is_price %}
                        <b><i> {{ prediction.value }} - 
                            {{ prediction.user_nickname }} </i></b>
                      {% else %}
                        {{ prediction.value }} - 
                        <a href="/user/{{ prediction.user_id }}">
                          {{ prediction.user_nickname }}
                        </a>
                      {% endif %}
                      {% if prediction.winner %}
                        </b>
                      {% endif %}
                      {% if prediction.leader %}
                        (Current Leader)
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div> <!-- end #entry -->
              </div> <!-- end #post -->

              {% if logged_in_flag and open_flag %}
                <div class="post">
                  <h2 class="title">Enter Your Prediction</h2>
                  <div class="entry">
                    {% if can_update_flag %}
                    <p>Enter your prediction here.  You may update it until the
                      contest is closed</p>
                    <form action="/new_prediction/{{contest.key.id}}" method="post">
                      Prediction: 
                      <input type="text" name="prediction">
                    </form>
                    {% else %}
                    <p>No more prediction updates are allowed.  The contest
                    ends today and the market is open at 9:30AM Eastern
                    time. Come back at 4PM Eastern time to see who won!</p>
                    {% endif %}
                  </div> <!-- end #entry -->
                </div> <!-- end #post -->

              {% endif %}

              {% if owner_flag %}
                <div class="post">
                  <h2 class="title">Finish The Contest</h2>
                  <div class="entry">
                    <p>You are the owner of the contest.  The system
                      will automatically finalize a contest for you, but
                      should something go awry, enter a value yourself.
                      A negative value keeps the contest open.</p>
                    <form action="/finish/{{contest.key.id}}" method="post">
                      Final Value: 
                      <input type="text" name="final_value" value="{{contest.final_value}}">
                    </form>
                  </div> <!-- end #entry -->
                </div> <!-- end #post -->
              {% endif %}
            {% else %} <!-- not authorized -->
              <div class="post">
                <h2 class="title">Unauthorized</h2>
                  <div class="entry">
                    <p>You are unauthorized to view this
                      contest.
                    {% if cur_user %}
                      Enter the passphrase to view.</p>
                      <form action="/authorize_contest/{{contest.key.id}}" method="post">
                        Passphrase: 
                        <input type="text" name="passphrase">
                      </form>
                    {% else %}
                      <i>Login to view.</i></p>
                    {% endif %}
                  </div> <!-- end #entry -->
              </div> <!-- end #post -->
            {% endif %}
          </div> <!-- end #content -->

	  <div id="sidebar">
	    <ul>
	      <li>&nbsp;</li>
              <li>
		<h2>Welcome & Warning</h2>
		<p>Welcome to Stockpredictr.  This site is being
		actively developed and the software is
		alpha-quality.  Play around, but be warned that 
		you may encounter bugs.</p>
	      </li>
	    </ul>
	  </div>
	  <!-- end #sidebar -->
	  <div style="clear: both;">&nbsp;</div>

        </div> <!-- end #page-bgbtm -->
      </div> <!-- end #page-bgtop -->
    </div> <!-- end #page -->
  </div> <!-- end #wrapper -->

  <div id="footer">
    <p>Copyright (c) 2008 Stockpredictr. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
  </div> <!-- end #footer -->

  </body>
</html>
