<html>
  <head>
    <title>Stockpredictr</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/republic/style.css" />
  </head>

  <body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Stockpredictr</a></h1>
        <p>Satisfy your predilection for prediction.</p>
      </div> <!-- end #logo -->
    </div> <!-- end #header -->
    <div id="menu">
      <ul>
	<li class="current_page_item"><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
        {% if cur_user %}
          <li><a href="/user/{{cur_user.key.id}}">Preferences</a></li>
        {% endif %}
	<li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
      </ul>
    </div> <!-- end #menu -->
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">

            {% if logged_in_flag %}
              <div class="post">
                <h2 class="title">Create A New Contest</h2>
                <div id="search" class="entry">
                  <form action="/new_contest" method="post">
                    <div class="entry">
                      Stock Symbol: 
                      <input type="text" name="symbol" size="7" maxlength="7">
                      Date: YYYY/MM/DD
                      <input type="text" name="year"  size="4" maxlength="4"> /
                      <input type="text" name="month" size="2" maxlength="2"> /
                      <input type="text" name="day"   size="2" maxlength="2">
                      </div>
                      <center>
                      <input type="submit" value="Create">
                      </center>
                </form>
                </div> <!-- end #entry -->
                <h2 class="entry"></h2>
                <h2 class="entry"></h2>
                <h2 class="entry"></h2>
                <h2 class="entry"></h2>
              </div> <!-- end #post -->
            {% endif %}

            <div class="post">
              <h2 class="title">Current Contests</h2>
              <div class="entry">
                <ul>
                  {% for contest in open_contests %}
                    <li> <a href="contest/{{contest.key.id}}">
                        {{ contest.stock.symbol }} - 
                        {{ contest.close_date }}</a> -
                        <a href="user/{{contest.owner.key.id}}">{{ contest.owner.nickname }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div> <!-- end #entry -->
            </div> <!-- end #post -->

            <div class="post">
              <h2 class="title">Top Predictrs</h2>
              <div class="entry">
                <ul>
                  {% for user in users %}
                    <li> <a href="user/{{user.key.id}}">
                        {{ user.nickname }} - 
                        {{ user.win_pct }}%</a>
                    </li>
                  {% endfor %}
                </ul>
              </div> <!-- end #entry -->
            </div> <!-- end #post -->

            <div class="post">
              <h2 class="title">Past Contests</h2>
              <div class="entry">
                <ul>
                  {% for contest in closed_contests %}
                    <li> <a href="contest/{{contest.key.id}}">
                        {{ contest.stock.symbol }} - 
                        {{ contest.close_date }}</a> -
                        <a href="user/{{contest.owner.key.id}}">{{ contest.owner.nickname }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div> <!-- end #entry -->
            </div> <!-- end #post -->

          </div> <!-- end #content -->

	  <div id="sidebar">
	    <ul>
	      <li>&nbsp;</li>
              <li>
		<h2>Welcome & Warning</h2>
		<p>Welcome to Stockpredictr.  This site is being
		actively developed and the software is
		alpha-quality.  Play around, but be warned that 
		you may encounter bugs.</p>
	      </li>
	    </ul>
	  </div>
	  <!-- end #sidebar -->
	  <div style="clear: both;">&nbsp;</div>

        </div> <!-- end #page-bgbtm -->
      </div> <!-- end #page-bgtop -->
    </div> <!-- end #page -->
  </div> <!-- end #wrapper -->

  <div id="footer">
    <p>Copyright (c) 2008 Stockpredictr. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
  </div> <!-- end #footer -->

  </body>
</html>
