<html>
  <head>
    <title>Stockpredictr</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/republic/style.css" />
  </head>

  <body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Stockpredictr</a></h1>
        <p>Satisfy your predilection for prediction.</p>
      </div> <!-- end #logo -->
    </div> <!-- end #header -->
    <div id="menu">
      <ul>
	<li class="current_page_item"><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
        {% if cur_user %}
          <li><a href="/user/{{cur_user.key.id}}">Preferences</a></li>
        {% endif %}
	<li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
      </ul>
    </div> <!-- end #menu -->
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">

            <div class="post">
              <div class="entry">
                <p>Welcome to Stockpredictr, the site for stock
                prediction contests.  Join the fun by finding a
                contest and try to guess closer to the closing stock
                price better than anyone else.</p>

                <p>If you don't see a contest to join, create a new
                contest for you and your friends.<p>

                <p>Contests can be open to anyone or 'private' and
                open only to those who know the passphrase.</p>

              </div> <!-- end #entry -->
            </div> <!-- end #post -->
              
            <div class="post">
              <h2 class="title">Create A New Contest</h2>
                {% if logged_in_flag %}

                  {% if error_flag %}
                  <div class="post">
                    <div class="error"><b>ERROR: {{error_message}}</b></div>
                  </div>         
                  {% endif %}
                  <div id="search" class="entry">
                    <form action="/" method="post">
                      <div class="entry">
                        Stock Symbol: 
                        <input type="text" name="symbol" size="7"
                               maxlength="7" value={{ form_symbol }}>
                        Date: YYYY/MM/DD
                        <input type="text" name="year"  size="4"
                        maxlength="4" value={{ form_year }}> /
                        <input type="text" name="month" size="2"
                        maxlength="2" value={{ form_month }}> /
                        <input type="text" name="day"   size="2"
                        maxlength="2" value={{ form_day }}>
                        <br>
                        Private?
                        <input type="checkbox" name="private" value="1"
                               {% if form_private %}
                               checked="1"
                               {% endif %}
                               >
                        <br>
                        Passphrase:
                        <input type="text" name="passphrase" size="32"
                               maxlength="64" value={{ form_passphrase }}>
                      </div> <!-- end #entry -->
                      <center>
                      <input type="submit" value="Create">
                      </center>
                  </form>
                  </div> <!-- end #entry -->
                  <h2 class="entry"></h2>
                  <h2 class="entry"></h2>
                  <h2 class="entry"></h2>
                  <h2 class="entry"></h2>
                  <h2 class="entry"></h2>
                  <h2 class="entry"></h2>
              {% else %}
                <div class="post">
                  <div class="entry"><i><a href="{{ login_url }}">Login</a> to create a contest.</i></div>
                </div>         
              {% endif %}
            </div> <!-- end #post -->

            <div class="post">
              <h2 class="title">Current Contests</h2>
              <div class="entry">
                <ul>
                  {% for contest in open_contests %}
                    <li> <a href="contest/{{contest.key.id}}">
                        {{ contest.stock.symbol }} - 
                        {{ contest.close_date }}</a> -
                        {% if contest.private %}
                          [private]
                        {% else %}
                          <a href="user/{{contest.owner.key.id}}">
                            {{ contest.owner.nickname }}</a>
                        {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div> <!-- end #entry -->
            </div> <!-- end #post -->

<!-- TODO - user privacy
            <div class="post">
              <h2 class="title">Top Predictrs</h2>
              <div class="entry">
                <ul>
                  {% for user in users %}
                    <li> <a href="user/{{user.key.id}}">
                        {{ user.nickname }} - 
                        {{ user.win_pct }}%</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
-->
            <div class="post">
              <h2 class="title">Past Contests</h2>
              <div class="entry">
                <ul>
                  {% for contest in closed_contests %}
                    <li> <a href="contest/{{contest.key.id}}">
                        {{ contest.stock.symbol }} - 
                        {{ contest.close_date }}</a> -
                        <a href="user/{{contest.owner.key.id}}">{{ contest.owner.nickname }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div> <!-- end #entry -->
            </div> <!-- end #post -->

          </div> <!-- end #content -->

	  <div id="sidebar">
	    <ul>
	      <li>&nbsp;</li>
              <li> {{ g_welcome_warning }} </li>
	    </ul>
	  </div>
	  <!-- end #sidebar -->
	  <div style="clear: both;">&nbsp;</div>

        </div> <!-- end #page-bgbtm -->
      </div> <!-- end #page-bgtop -->
    </div> <!-- end #page -->
  </div> <!-- end #wrapper -->

  <div id="footer">
    {{ g_footer }}
  </div> <!-- end #footer -->

  </body>
</html>
