<html>
  <head>
    <title>Stockpredictr User #{{the_user.key.id}}</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/republic/style.css" />
  </head>

  <body>
  <div id="wrapper">
    <div id="header">
      <div id="logo">
        <h1><a href="/">Stockpredictr</a></h1>
        <br>
        <p>User: <a href="/user/{{the_user.key.id}}">
          {{ the_user.nickname }}</a></p>
      </div> <!-- end #logo -->
    </div> <!-- end #header -->
    <div id="menu">
      <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
        {% if cur_user %}
          <li><a href="/user/{{cur_user.key.id}}">Preferences</a></li>
        {% endif %}
	<li><a href="{{ login_url }}">{{ login_url_linktext }}</a></li>
      </ul>
    </div> <!-- end #menu -->
    <div id="page">
      <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">
            <div class="post">
              <h2 class="title">Closed Predictions</h2>
              <div class="entry">
                <ul>
                  <li>{{ the_user.wins }} for 
                    {{ the_user.losses }}
                    ({{ the_user.win_pct }}%)</li>
                  {% for prediction in closed_predictions %}
                    <li> 
                    {% if prediction.winner %}
                      <b> WIN - 
                    {% else %}
                      LOSS -
                    {% endif %}
                    <a href="/contest/{{prediction.contest.key.id}}">
                      {{ prediction.value }} -
                      {{ prediction.contest.stock.symbol }} -
                      {{ prediction.contest.close_date }}
                    </a>
                    {% if prediction.winner %}
                      </b>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div> <!-- end #entry -->
            </div> <!-- end #post -->

            <div class="post">
              <h2 class="title">Open Predictions</h2>
              <div class="entry">
                <ul>
                  {% for prediction in open_predictions %}
                    <li> 
                    <a href="/contest/{{prediction.contest.key.id}}">
                      {{ prediction.value }} -
                      {{ prediction.contest.stock.symbol }} -
                      {{ prediction.contest.close_date }}
                    </a>
                  {% endfor %}
                </ul>
              </div> <!-- end #entry -->
            </div> <!-- end #post -->

            {% if authorized_to_edit %}
              <div class="post">
                <h2 class="title">Update Your User Data</h2>
                <div id="search" class="entry">
                  <p>You may update your own user info here.</p>
                  <form action="/update_user/{{the_user.key.id}}" method="post">
                    Nickname: <input type="text" name="nickname" value="{{ the_user.nickname }}">
                  </form>
                </div> <!-- end #entry -->
              </div> <!-- end #post -->
	      <div style="clear: both;">&nbsp;</div>
              <div class="post">
                <h2 class="title">Your Google Info</h2>
                <div class="entry">
                  <p>This is the info from Google on you:</p>
                  <table>
                    <tr>
                      <th>Nickname</th>
                      <td>{{the_user.user.nickname}}</td>
                      <td>(this is different from Stockpredictr's nickname)</td>
                    </tr>
                    <tr>
                      <th>Email</th>
                      <td>{{the_user.user.email}}</td>
                    </tr>
                  </table>
                </div> <!-- end #entry -->
              </div> <!-- end #post -->

            {% endif %}

          </div> <!-- end #content -->

	  <div id="sidebar">
	    <ul>
	      <li>&nbsp;</li>
              <li>
		<h2>Welcome & Warning</h2>
		<p>Welcome to Stockpredictr.  This site is being
		actively developed and the software is
		alpha-quality.  Play around, but be warned that data
		loss is quite likely.</p>
	      </li>
	    </ul>
	  </div>
	  <!-- end #sidebar -->
	  <div style="clear: both;">&nbsp;</div>

        </div> <!-- end #page-bgbtm -->
      </div> <!-- end #page-bgtop -->
    </div> <!-- end #page -->
  </div> <!-- end #wrapper -->

  <div id="footer">
    <p>Copyright (c) 2008 Stockpredictr. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
  </div> <!-- end #footer -->

  </body>
</html>
